* {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display:block;
}

body {
	background-image: url(images/clouds.jpg);
	background-position: center;
  background-attachment: fixed;
  background-size: cover;
	font-family: 'Avenir', 'Lato', sans-serif;
	font-size: 16px;
	color: #73394e;
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

/* *************************** HAMBURGER MENU *************************** */

.hamburger{
  background:none;
  position:absolute;
  top:0;
  left:0;
  line-height:45px;
  padding:5px 15px 0px 15px;
  color:#ffffff;
  border:0;
  font-size:1.4em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.cross{
  background:none;
  position:absolute;
  top:0px;
  left:0;
  padding:7px 15px 0px 15px;
  color:#73394e;
  border:0;
  font-size:3em;
  line-height:65px;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.menu{z-index:1000000; font-weight:bold; font-size:0.8em; width:100%; background:#f1f1f1;  position:absolute; text-align:center; font-size:12px;}
.menu ul {margin: 0; padding: 0; list-style-type: none; list-style-image: none;}
.menu li {display: block;   padding:15px 0 15px 0; border-bottom:#dddddd 1px solid;}
.menu li:hover{display: block;    background:#ffffff; padding:15px 0 15px 0; border-bottom:#dddddd 1px solid;}
.menu ul li a { text-decoration:none;  margin: 0px; color:#73394e;}
.menu ul li a:hover {  color: #666; text-decoration:none;}
.menu a{text-decoration:none; color:#666;}
.menu a:hover{text-decoration:none; color:#666;}


/* *************************** HAMBURGER MENU *************************** */
/* ************************ HEADER ************************ */

header {
	width: 100%;
}

header nav {
	width: 100%;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

.menu {
	margin-top: 0;
	padding-top: 5px;
}

.desktop-menu {
	display: none;
}

.desktop-menu ul li {
	display: inline;
}

.desktop-menu ul li a {
	text-decoration: none;
	color: #ffffff;
	font-size: 2.5rem;
	padding: 0 55px;
}

.desktop-menu ul li a:hover {
	color: #73394e;
}

/* ************************ HEADER ************************ */
/* ******************************* CONTENT ******************************* */

container {
	width: 90%;
	padding-right: 5%;
	padding-left: 5%;
	margin: 30px auto 0;
	flex: 1;
}

.portfolio {
	height: 8px;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
  margin-top: 10px;
}

h2 {
	font-size: 2.2rem;
	transform: rotate(-90deg);
	position: fixed;
	margin-top: 63px;
	margin-left: -63px;
}

h3 {
	font-size: 1.8rem;
	font-weight: 500;
  padding-left: 28px;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

figure {
  width: 80%;
  padding-bottom: 20px;
}

iframe {
  width: 269px;
  height: 151px;
}

figcaption a {
  text-decoration: none;
	color: #73394e;
	font-size: 18px;
}

figcaption a:hover {
	color: #ffffff;
}

figcaption p {
	color: #73394e;
}

.instagram-media {
  height: 440px;
}

.design-heading {
	margin-top: 50px;
}

.graphic-design {
	margin-top: 25px;
}

.designs {
	width: 80%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(255,255,255,.7);
	border-radius: 5px;
}

figure img {
	width: 60%;
	padding: 20px;
	padding-bottom: 0;
}


/* ******************************* CONTENT ******************************* */
/* ************************ FOOTER ************************ */

footer {
	height: 8px;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	padding-right: 15px;
  margin-top: 80px;
}

footer div {
	padding-bottom: 8px;
}


footer div img {
	width: 70%;
	max-width: 50px;
	padding-left: 5px;
}

/* ************************ FOOTER ************************ */
/* ******************************* MIN-WIDTH: 360PX MEDIA QUERY ******************************* */

@media (min-width: 360px) {
  figure {
    text-align: center;
  }
}

/* ******************************* MIN-WIDTH: 360PX MEDIA QUERY ******************************* */
/* ******************************* MIN-WIDTH: 450PX MEDIA QUERY ******************************* */

@media (min-width: 450px) {
	h2 {
		font-size: 2.6rem;
		margin-top: 73px;
		margin-left: -65px;
	}

	h3 {
		font-size: 2.2rem;
    padding-left: 40px;
	}

  iframe {
    width: 337px;
    height: 189px;
  }
}

/* ******************************* MIN-WIDTH: 450PX MEDIA QUERY ******************************* */
/* ******************************* MIN-WIDTH: 600PX MEDIA QUERY ******************************* */

@media (min-width: 600px) {
	h2 {
		font-size: 3rem;
		margin-top: 85px;
		margin-left: -75px;
	}

	h3 {
		font-size: 2.8rem;
	}

	.designs {
		width: 40%;
	}
}

/* ******************************* MIN-WIDTH: 600PX MEDIA QUERY ******************************* */
/* ******************************* MIN-WIDTH: 700PX MEDIA QUERY ******************************* */

@media (min-width: 700px) {
  h2 {
    font-size: 3.4rem;
		margin-top: 95px;
    margin-left: -95px;
  }

  h3 {
    font-size: 3.2rem;
  }

	figure {
		width: 40%;
		padding-right: 15px;
		padding-left: 15px;
	}
}

/* ******************************* MIN-WIDTH: 700PX MEDIA QUERY ******************************* */
/* ******************************* MIN-WIDTH: 700PX AND MAX-WIDTH: 875PX MEDIA QUERY ******************************* */

@media (min-width: 700px) and (max-width: 875px) {
  iframe {
    width: 269px;
    height: 151px;
  }
}

/* ******************************* MIN-WIDTH: 700PX AND MAX-WIDTH: 875PX MEDIA QUERY ******************************* */
/* ******************************* MIN-WIDTH: 1000PX MEDIA QUERY ******************************* */

@media (min-width: 1000px) {
	.desktop-menu {
		display: block;
	}

	.menu, .hamburger, .cross {
		display: none;
	}

	h3 {
		padding-top: 0;
	}

	container {
		max-width: 1400px;
		margin-top: 0;
	}

	figcaption a {
		color: #ffffff;
	}

	figcaption a:hover {
		color: #73394e;
	}

	.designs {
		width: 27%;
	}
}

/* ******************************* MIN-WIDTH: 1000PX MEDIA QUERY ******************************* */
/* ******************************* MIN-WIDTH: 1075PX MEDIA QUERY ******************************* */

@media (min-width: 1075px) {
  h2 {
    font-size: 3.8rem;
		margin-top: 105px;
		margin-left: -110px;
  }

  h3 {
    font-size: 3.6rem;
  }

	iframe {
		width: 404px;
		height: 227px;
	}
}

/* ******************************* MIN-WIDTH: 1075PX MEDIA QUERY ******************************* */
/* ******************************* MIN-WIDTH: 1300PX MEDIA QUERY ******************************* */

@media (min-width: 1300px) {
	h2 {
		margin-top: 105px;
		margin-left: -75px;
	}

  h3 {
    padding-left: 80px;
  }
}

/* ******************************* MIN-WIDTH: 1300PX MEDIA QUERY ******************************* */
/* ******************************* MIN-WIDTH: 1450PX MEDIA QUERY ******************************* */

@media (min-width: 1450px){
  h2 {
    font-size: 4rem;
		margin-top: 110px;
  }

  h3 {
    font-size: 3.8rem;
  }

	iframe {
		width: 538px;
		height: 302px;
	}
}

/* ******************************* MIN-WIDTH: 1450PX MEDIA QUERY ******************************* */
/* ******************************* MIN-WIDTH: 1600PX MEDIA QUERY ******************************* */

@media (min-width: 1600px) {
  h2 {
    font-size: 4.4rem;
		margin-top: 120px;
		margin-left: -95px;
  }

  h3 {
    font-size: 4.2rem;
  }
}

/* ******************************* MIN-WIDTH: 1600PX MEDIA QUERY ******************************* */
/* ******************************* MIN-WIDTH: 1975PX MEDIA QUERY ******************************* */

@media (min-width: 1975px) {
  h2 {
    font-size: 4.8rem;
		margin-top: 130px;
		margin-left: -110px;
  }

  h3 {
    font-size: 4.6rem;
  }
}

/* ******************************* MIN-WIDTH: 1975PX MEDIA QUERY ******************************* */
